

/* Shared Styles */


.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header styles */

.banner{
    background-image: url("../Assets/Hero-bg.png");
    width: 1440px;
    height: 698px;
    margin: 0px auto;
}

nav{
    max-width: 1140px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin:0px auto;
    
}

.nav-logo{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}

.nav-btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: rgba(5, 121, 238, 0.705);
    font-size: 20px;
   
}
.hero-content{
    max-width: 905px;
    margin: 158px auto 151px;
    align-items: center;
    justify-content: center;
   
}

.hero-description{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 37px;
}

.hero-btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hero-btn:hover{
    background-color: rgba(5, 121, 238, 0.705);
    font-size: 20px;
}
 
/* main styles */

/* Action Styles */

body{
    background-color: #f5f8ff;
}

.action{
    max-width: 1140px;
    margin: 116px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-description{
    font-size: 24px;
    font-weight: 400;
    color: #25243273;
}

.action-btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.action-btn:hover{
    background-color: rgba(5, 121, 238, 0.705);
    font-size: 20px;
}

/*productive_user styles*/

.productive-user{
    max-width: 1140px;
    border-radius: 24px;
    background-color: #4d47ff2a;
    margin: 0px auto;

}

.productive-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top:  52px; 
    
}

.productive-data{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-value{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-weight: 700;
    
}

.info-title{
    font-size: 20px;
    font-weight: 400;
    color: #0000007d;
    display: block;
}

/* Review Style */

.reviews{
    max-width: 1140px;
    margin: 52px auto;
    text-align: center;  
}
.review-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}

.icon{
    size: 20px;
}

.reviewer-title{
    font-size: 24px;
    font-weight: 600;
}

.reviewer-text{
    font-size: 16px;
    font-weight: 400;
    
}

.card-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    text-align: left;
    border: none;
    border-radius: 10px;
    padding: 24px;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.434);
}
.reviewer-info{
    display: flex;
    align-items: center;
    gap: 12px;
}
.reviewer-image{
    border-radius: 50%;
}

.reviewer-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}

.review-date{
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
}

/* focus styles */
 
.focus-container{
    max-width: 1140px;
    margin: 71px auto;
    text-align: center;
}

.focus-title{
    font-size: 60px;
    font-weight: bold;
    
}

.focus-content{
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto;
    color: #00000073;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.focus-btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.focus-btn:hover{ 
    background-color: rgba(5, 121, 238, 0.705);
    font-size: 20px;
}

.focus-image{
    border-radius: 48px;
}

/* newsletter styles */

.newsletter{
    max-width: 1140px;  
    margin: 93px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter-title{
    font-size: 97px;
    font-weight: bold;  
}

input[type=text] , input[type=email] {
    width: 497px;
    height: 70px;
    border: 0.01px solid rgba(0, 0, 0, 0.104);
    border-radius: 10px;
    background-color:#FFFFFF;
    font-size: 20px;
    padding: 20px 32px;
    display: block;
}

input[type=submit]{
    width: 567px;
    height: 70px;
    border: 0.01px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: rgba(5, 121, 238, 0.705);
}


textarea{
    width: 497px;
    height: 135px;
    border: 0.01px solid rgba(0, 0, 0, 0.112);
    border-radius: 10px;
    background-color:#FFFFFF;
    font-size: 20px;
    padding: 20px 32px;
    display: block;
}

/* footer styles */

.footer-container{
    max-width: 531px;
    margin: 0px auto;
    text-align: center;
}

.footer-top{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}

.footer-description{
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-bottom{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-info{
    text-decoration: none;
    color: #8987A1;
}

.bottom-info:hover{
    font-size: 1.25em;
    text-shadow: 0px 5px 10px rgba(5, 121, 238, 0.705);;
}